.apps {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    margin-left: 20px;
    margin-top: -9px;
    cursor: pointer;
}

.wapper {
    position: relative;
    width: 599px;
    height: 40px;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
}

.wapper_title {
    margin-top: 14px;
    font-weight: 600;
    font-size: 2.3rem;
    margin-left: 20px;
    text-transform: uppercase;
    width: 50%;
}


.close {
    width: 0;
    font-size: 1.6em;
    margin-top: 20px;
    cursor: pointer;
}

.content {
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}

.img {
    width: 100%;
    cursor: pointer;
}

.content_text {
    position: relative;
    margin-top: -60px;
    color: #fff;
    margin-left: 20px;
}

.text {
    font-size: 1.5rem;
    margin-top: -10px;
    font-weight: 700;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

input[type=text] :focus {
    border: 1px solid rgb(116, 127, 189);
}

.usercontainer {
    width: 350px;
    margin-left: 20px;
    margin-top: 20px;
}

.footer {
    margin-left: 50px;
}