.container {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid rgb(239, 239, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
}
.container img {
    border-radius: 100%;
    width: 52px;
    height: 52px;
}
.container input {
    width: 100%;
    border: none;
    outline: none;
    text-indent: 10px;
    color: #ccc;
    font-size: 2rem;
}
.container button {
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 10px 16px;
    border-radius: 20px;
    margin-left: 12px;
    opacity: 0.5;
    outline-style: none;
}